<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %X{requestId} %X{login} %p %c{1.} - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="roll-by-time-and-size"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>movieland.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                movieland-%d{yyyy-MM-dd}.log.%i
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %X{requestId} %X{login} %p %c{1.} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="roll-by-time-and-size"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>